@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua 1234<br />
    Bairro X, CEP: 123.564-00<br />
    <abbr title="FONE"> : 62-3255-0000</abbr>
</address>

<address>
    <strong>Mande um email</strong> <a href="mailto:contato@sislogweb.com">contato@sislogweb.com</a><br />
    
</address>
